.header {
  border: 1px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.header__left img {
  height: 60px;
  margin-left: 5px;
  object-fit: contain;
}
.header__middle {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
  margin-left: -80px;
  padding: 10px;
  border-radius: 5px;
}
.header__middle > .MuiSvgIcon-root {
  color: grey;
}
.header__middle input {
  border: none;
  width: 100%;
  background: transparent;
  outline-width: 0;
  font-size: medium;
}
.header__right{
    display: flex;
    padding-right: 20px;
}
